.About{
  margin-top: 100px;
  color: white;
  /* font-family: 'Cousine'; */
  margin-bottom: 200px;
}
.Title1{
  text-align: center;
  font-family: 'Cousine';
  border-bottom: 2px solid;
  width:70%;
  margin-bottom: 50px;
  font-weight: 700;
}

.About h6{
  font-weight: 500;
  line-height: 40px;
  font-size: 1em;
}
.About h5{
  font-weight: 500;
  line-height: 40px;
  font-size: 1em;
}


.Title2{
  text-align: left;
  font-family: 'Cousine';
  border-bottom: 2px solid;
  width:70%;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 20px;
}

.col-md-6 p{
  font-size: 12px;
}